.carousel {
  overflow: hidden;
  white-space: nowrap;
  width: 100%; /* Adjust as needed */
}
.slides {
  display: inline-block;
  animation: slide 2s linear forwards;
} 

 @keyframes slide { 
   0% {
    transform: translateX(100%); /* Start off the right side */
  } 
   50% {
    transform: translateX(0); /* Centered */
  } 
   100% {
    transform: translateX(-100%); /* Slide out to the left */
  } 
}
/* .carousel {
  max-width: 800px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: 100%;
  box-sizing: border-box;
} */
